* {
  margin: 0;
  padding: 0;
  list-style: none; }

@font-face {
  font-family: "jumper";
  src: url("../resources/tipografia/JumperPERSONALUSEONLY-Regular.ttf"); }

@font-face {
  font-family: "jumper-2";
  src: url("../resources/tipografia/JumperPERSONALUSEONLY-Bold.ttf"); }

@font-face {
  font-family: "jumper-3";
  src: url("../resources/tipografia/JumperPERSONALUSEONLY-RegularItalic.ttf"); }

@font-face {
  font-family: "jumper-4";
  src: url("../resources/tipografia/JumperPERSONALUSEONLY-Thin.ttf"); }

.flex-center, .card__texto, .card__texto2, .main__fotos--ancho, .main__fotos--ancho .main__fotos .main__fotos--arriba, .main__fotos--botones, .main__videos .main__videos--arriba, .main__videos .main__videos--abajo, .agencia__size--responsive, .lugares__card__centrado, .lugares__size--flex .lugares__size .main__lugares2 .card__titulo, .lugares__size--flex .lugares__size .main__lugares2 .card__texto__lugares, .form__centrado {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex-wrap, .index__tour--flex, .lugares__size--flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.grid-center, .index__lugares__size, .index__tour--flex .index__tour, .main__fotos--ancho .main__fotos, .main__fotos--ancho .main__fotos .main__fotos--abajo, .main__videos, .agencia__size--responsive .agencia__size, .lugares__size--flex .lugares__size {
  display: grid;
  justify-content: center;
  align-items: center; }

.h2, h2 {
  text-align: center;
  font-size: x-large;
  background-color: #4287fc;
  width: 100vw;
  padding: 2px;
  overflow: hidden;
  font-family: 'jumper-2'; }

.imagen {
  height: 190px; }

@media (max-width: 640px) {
  .imagen {
    height: 100px; } }

h1 {
  font-family: "jumper";
  width: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 0 0;
  font-size: xx-large;
  text-align: center;
  color: white;
  line-height: 0.9; }

.text__none {
  text-decoration: none; }

.main__subtitulo {
  text-align: center;
  margin: 0;
  padding: 5px 0 0 0;
  background-color: #bbd8ef; }

.estilo_subtitulo {
  color: black;
  text-decoration: none; }

body {
  overflow-x: hidden; }

.card__texto {
  padding: 10px 5px 0 5px; }

@media (max-width: 950px) {
  .card__texto {
    font-size: small; } }

@media (max-width: 800px) {
  .card__texto {
    font-size: medium; } }

.card__texto2 {
  padding: 2px;
  margin: 0 15px 5px 15px; }

h3 {
  font-family: 'jumper-2';
  font-size: large; }

@media (max-width: 640px) {
  .card__texto2 {
    font-size: xx-small;
    padding: 2px;
    margin: 0 5px 5px 5px; }
  h3 {
    font-size: 15px; } }

.margen {
  margin: 10px;
  padding: 0; }

.logo__agencia {
  width: 70px; }

@media (max-width: 640px) {
  .logo__agencia {
    width: 40px; } }

.main__fotos--imagen {
  height: 160px;
  width: 100%; }

.main__tour2--distribucion {
  display: flex;
  justify-content: center;
  padding: 2px; }

.texto {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2px;
  height: 100%;
  font-size: 10px; }

.boton__selector:hover {
  color: white;
  transition: all .1s;
  font-size: 23px;
  background-color: #4287fc; }

@media (max-width: 640px) {
  .boton__selector:hover {
    font-size: 14px; } }

.fondo__selector:hover {
  color: white;
  transition: all .1s;
  background-color: #4287fc; }

.fondo__experiencias {
  background-image: linear-gradient(to top, #bbd8ef, white); }

@keyframes latidos {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@keyframes latidos_2 {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05);
    color: #4287fc; }
  100% {
    transform: scale(1); } }

.header__color {
  background-image: linear-gradient(to left, #bbd8ef, #4287fc); }
  .header__color .header__nav__derecha {
    flex-direction: row-reverse; }
    .header__color .header__nav__derecha .header__nav {
      display: flex;
      align-items: center; }
      .header__color .header__nav__derecha .header__nav a {
        font-family: 'jumper-3';
        font-size: 12px; }
        .header__color .header__nav__derecha .header__nav a:hover {
          color: white;
          height: 55px;
          transform: skewX(5deg);
          transition: all .3s;
          background-color: #4287fc; }
        .header__color .header__nav__derecha .header__nav a:active {
          background-color: #4287fc;
          transform: skewX(5deg);
          height: 45px;
          color: white; }
      .header__color .header__nav__derecha .header__nav .header__nav--active {
        padding: 8px;
        background-color: #4287fc;
        transform: skewX(5deg);
        height: 45px;
        color: white; }

.index__lugares__size {
  width: 100vw;
  padding: 0 8% 1% 7%;
  margin: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "main__lugares1 main__lugares2 main__lugares3"; }
  .index__lugares__size .main__lugares1 {
    grid-area: main__lugares1;
    margin: 0 10px 0 10px; }
  .index__lugares__size .main__lugares2 {
    grid-area: main__lugares2;
    margin: 0 10px 0 10px; }
  .index__lugares__size .main__lugares3 {
    grid-area: main__lugares3;
    margin: 0 10px 0 10px; }

.index__tour--flex .index__tour {
  width: 800px;
  gap: 5px;
  padding: 10px;
  grid-template-columns: 1.5fr 2fr;
  grid-template-areas: "main__tour1 main__tour2"; }
  .index__tour--flex .index__tour .main__tour1 {
    grid-area: main__tour1;
    margin: 0 10px 0 10px; }
  .index__tour--flex .index__tour .main__tour2 {
    grid-area: main__tour2;
    margin: 0 10px 0 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "main__tour2--arriba main__tour2--arriba" "main__tour2--abajo main__tour2--abajo" "main__tour2--abajo main__tour2--abajo"; }
    .index__tour--flex .index__tour .main__tour2 .main__tour2--arriba {
      grid-area: main__tour2--arriba;
      align-items: center;
      justify-content: space-evenly; }
      .index__tour--flex .index__tour .main__tour2 .main__tour2--arriba img {
        animation-name: latidos;
        animation-duration: 2s;
        animation-iteration-count: infinite; }
    .index__tour--flex .index__tour .main__tour2 .main__tour2--abajo {
      grid-area: main__tour2--abajo; }
      .index__tour--flex .index__tour .main__tour2 .main__tour2--abajo p {
        text-align: center; }

.main__fotos--ancho {
  width: 100%; }
  .main__fotos--ancho .main__fotos {
    width: 100vw;
    margin: 0;
    gap: 0;
    height: 360px;
    grid-column: 1fr;
    grid-template-rows: 0.5fr 3.5fr;
    grid-template-areas: "main__fotos--arriba" "main__fotos--abajo"; }
    .main__fotos--ancho .main__fotos .main__fotos--arriba {
      grid-area: main__fotos--arriba;
      width: 590px; }
    .main__fotos--ancho .main__fotos .main__fotos--abajo {
      width: 590px;
      grid-area: main__fotos--abajo;
      gap: 0;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas: "main__fotos__grid1 main__fotos__grid1 main__fotos__grid1 main__fotos__grid1 main__fotos__grid2 main__fotos__grid2 main__fotos__grid2 main__fotos__grid2" "main__fotos__grid1 main__fotos__grid1 main__fotos__grid1 main__fotos__grid1 main__fotos__grid2 main__fotos__grid2 main__fotos__grid2 main__fotos__grid2" "main__fotos_grid3 main__fotos_grid3 main__fotos_grid3 main__fotos_grid3 main__fotos__grid4 main__fotos__grid4 main__fotos__grid4 main__fotos__grid4" "main__fotos_grid3 main__fotos_grid3 main__fotos_grid3 main__fotos_grid3 main__fotos__grid4 main__fotos__grid4 main__fotos__grid4 main__fotos__grid4"; }
      .main__fotos--ancho .main__fotos .main__fotos--abajo .main__fotos__grid1 {
        grid-area: main__fotos__grid1; }
      .main__fotos--ancho .main__fotos .main__fotos--abajo .main__fotos__grid2 {
        grid-area: main__fotos__grid2; }
      .main__fotos--ancho .main__fotos .main__fotos--abajo .main__fotos_grid3 {
        grid-area: main__fotos_grid3; }
      .main__fotos--ancho .main__fotos .main__fotos--abajo .main__fotos__grid4 {
        grid-area: main__fotos__grid4; }

.main__fotos--botones {
  margin: 12px; }

.main__videos {
  width: 100vw;
  margin: 0 2px 0 0;
  gap: 0;
  height: 360px;
  grid-column: 1fr;
  grid-template-rows: 0.5fr 3.5fr;
  grid-template-areas: "main__fotos--arriba" "main__fotos--abajo"; }
  .main__videos .main__videos--arriba {
    grid-area: main__fotos--arriba;
    width: 590px; }
  .main__videos .main__videos--abajo {
    width: 590px;
    grid-area: main__fotos--abajo; }
    .main__videos .main__videos--abajo .main__videos__size {
      width: 600px;
      height: 300px; }

@media (max-width: 800px) {
  .index__lugares__size {
    padding: 0 4% 0.5% 3%; } }

@media (max-width: 640px) {
  .index__lugares__size {
    display: none; }
  .main__size__responsive1 {
    width: 100vw;
    display: grid;
    padding: 5% 25% 5% 25%;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "main__lugares1" "main__lugares2" "main__lugares3"; }
    .main__size__responsive1 .main__lugares1__responsive1 {
      grid-area: main__lugares1;
      margin: 0 30px 0 30px; }
    .main__size__responsive1 .main__lugares2__responsive1 {
      grid-area: main__lugares2;
      margin: 0 30px 0 30px; }
    .main__size__responsive1 .main__lugares3__responsive1 {
      grid-area: main__lugares3;
      margin: 0 30px 0 30px; }
  .index__tour {
    width: 490px; }
    .index__tour .main__tour2 {
      height: 100%; }
  .main__fotos--ancho {
    width: 100%; }
    .main__fotos--ancho .main__fotos {
      width: 100vw;
      margin: 0 15px 0 0; }
      .main__fotos--ancho .main__fotos .main__fotos--abajo {
        width: 380px;
        height: 100%; }
      .main__fotos--ancho .main__fotos .main__fotos--arriba {
        width: 380px; }
  .main__fotos--botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 12px; }
  .main__videos {
    padding: 0 10px; }
    .main__videos .main__videos--arriba {
      width: 380px; }
    .main__videos .main__videos--abajo {
      width: 380px; }
      .main__videos .main__videos--abajo .main__videos__size {
        width: 380px;
        height: 300px; } }

@media (max-width: 500px) {
  .main__size__responsive1 .main__lugares1__responsive1 {
    grid-area: main__lugares1;
    margin: 0 4% 0 4%;
    padding: 0; }
  .main__size__responsive1 .main__lugares2__responsive1 {
    grid-area: main__lugares2;
    margin: 0 4% 0 4%;
    padding: 0; }
  .main__size__responsive1 .main__lugares3__responsive1 {
    grid-area: main__lugares3;
    margin: 0 4% 0 4%;
    padding: 0; }
  .main__tour1 {
    height: 120px;
    display: flex;
    align-items: center; } }

.agencia__size--responsive .agencia__size {
  width: 800px;
  padding: 0 30px 0 30px;
  margin: 0;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "main__agencia1 main__agencia2"; }
  .agencia__size--responsive .agencia__size .main__agencia1 {
    grid-area: main__agencia1; }
    .agencia__size--responsive .agencia__size .main__agencia1 a {
      font-size: 23px;
      text-decoration: none;
      color: black;
      display: block;
      transition: all 0.3s ease;
      animation-name: latidos_2;
      animation-duration: 2s;
      animation-iteration-count: infinite; }
      .agencia__size--responsive .agencia__size .main__agencia1 a:hover {
        color: #4287fc; }
    .agencia__size--responsive .agencia__size .main__agencia1 p {
      text-align: center; }
  .agencia__size--responsive .agencia__size .main__agencia2 {
    grid-area: main__agencia2; }
    .agencia__size--responsive .agencia__size .main__agencia2 a {
      font-size: 23px;
      text-decoration: none;
      color: black;
      display: block;
      transition: all 0.1s ease;
      animation-name: latidos_2;
      animation-duration: 2s;
      animation-iteration-count: infinite; }
      .agencia__size--responsive .agencia__size .main__agencia2 a:hover {
        color: #4287fc; }
    .agencia__size--responsive .agencia__size .main__agencia2 p {
      text-align: center; }

@media (max-width: 800px) {
  .agencia__size--responsive .agencia__size {
    width: 600px; } }

@media (max-width: 640px) {
  .agencia__size--responsive {
    display: flex;
    flex-wrap: wrap; }
    .agencia__size--responsive .agencia__size {
      width: 300px;
      display: grid;
      margin: 0;
      gap: 2px;
      padding: 0 20px 0 20px;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "main__agencia1" "main__agencia2"; }
      .agencia__size--responsive .agencia__size .main__agencia1 a {
        font-size: 14px; }
      .agencia__size--responsive .agencia__size .main__agencia2 a {
        font-size: 14px; } }

.main__lugares--card {
  margin: 0 25% 2% 25%; }

.lugares__card__centrado {
  width: 100%;
  height: 180px; }

.lugares__size--flex .lugares__size {
  background-color: #bbd8ef;
  width: 600px;
  margin: 0 0 10px 0;
  gap: 4px;
  padding: 6px;
  grid-template-columns: 3fr 2fr;
  grid-template-areas: "main__lugares1 main__lugares2"; }
  .lugares__size--flex .lugares__size .main__lugares1 {
    grid-area: main__lugares1;
    margin: 0 5px 0 5px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .lugares__size--flex .lugares__size .main__lugares2 {
    grid-area: main__lugares2;
    margin: 0 5px 0 5px;
    justify-content: center;
    text-align: center; }
    .lugares__size--flex .lugares__size .main__lugares2 .card__titulo {
      font-size: large;
      padding: 5px 10% 5px 10%; }
    .lugares__size--flex .lugares__size .main__lugares2 .card__texto__lugares {
      font-size: medium; }

@media (max-width: 640px) {
  .lugares__size--flex .lugares__size {
    width: 500px;
    gap: 2px;
    padding: 8px;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "main__lugares1 main__lugares2"; }
    .lugares__size--flex .lugares__size .main__lugares1 {
      grid-area: main__lugares1;
      margin: 0 10px 0 10px; }
    .lugares__size--flex .lugares__size .main__lugares2 {
      grid-area: main__lugares2; }
      .lugares__size--flex .lugares__size .main__lugares2 .card__titulo {
        font-size: small;
        padding: 5px 10% 5px 10%; }
      .lugares__size--flex .lugares__size .main__lugares2 .card__texto__lugares {
        font-size: x-small; } }

.form__centrado {
  width: 100vw;
  padding: 0 15% 0 15%; }
  .form__centrado .main__formato {
    background-color: #4287fc;
    width: 100%;
    visibility: inherit;
    margin: 10px;
    padding: 15px; }
    .form__centrado .main__formato input {
      transition: 0.3s ease-in-out; }
      .form__centrado .main__formato input:focus {
        background-color: #bbd8ef;
        transform: scale(1.03); }

@media (max-width: 640px) {
  .form__centrado {
    padding: 0 5px 0 5px; } }

.footer {
  background-color: #4287fc;
  width: 100vw;
  list-style: none;
  padding: 20px 10px 20px 100px; }
  .footer .footer-row {
    display: flex;
    flex-direction: wrap; }
    .footer .footer-row .footer-links {
      width: 25%; }
      .footer .footer-row .footer-links h6 {
        font-size: 14px;
        color: black;
        font-weight: 500;
        border-bottom: 2px solid white;
        display: inline-block;
        font-family: 'jumper-3'; }
      .footer .footer-row .footer-links ul {
        padding: 0;
        margin: 0; }
        .footer .footer-row .footer-links ul li {
          transition: all 0.1s ease; }
          .footer .footer-row .footer-links ul li a {
            font-size: 13px;
            font-family: 'jumper-4';
            text-decoration: none;
            color: black;
            display: block;
            transition: all 0.1s ease; }
            .footer .footer-row .footer-links ul li a:hover {
              color: white; }
          .footer .footer-row .footer-links ul li:hover {
            transform: scale(1.05); }

@media (max-width: 640px) {
  .footer {
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: center; }
    .footer .footer__centrar {
      display: flex;
      justify-content: center;
      align-items: center; }
      .footer .footer__centrar .footer-row {
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; }
        .footer .footer__centrar .footer-row .footer-links {
          width: 90px;
          display: block;
          padding: 5px; }
          .footer .footer__centrar .footer-row .footer-links h6 {
            font-size: 11px; }
          .footer .footer__centrar .footer-row .footer-links li a {
            font-size: 9px; } }
