.footer {
    background-color: $azul_header;
    width: 100vw;
    list-style: none;
    padding: 20px 10px 20px 100px;

    .footer-row {
        display: flex;
        flex-direction: wrap;

        .footer-links {
            width: 25%;

            h6 {
                font-size: 14px;
                color: $negro;
                font-weight: 500;
                border-bottom: 2px solid $blanco;
                display: inline-block;
                font-family: 'jumper-3';
            }

            ul {
                padding: 0;
                margin: 0;

                li {
                    a {
                        font-size: 13px;
                        font-family: 'jumper-4';
                        text-decoration: none;
                        color: $negro;
                        display: block;
                        transition: all 0.1s ease;

                        &:hover {
                            color: $blanco;
                        }
                    }

                    transition: all 0.1s ease;

                    &:hover {
                        transform: scale(1.05);


                    }
                }
            }
        }
    }
}



@media (max-width:640px) {

    .footer {
        padding: 10px 10px 10px 10px;
        display: flex;
        justify-content: center;

        .footer__centrar {
            display: flex;
            justify-content: center;
            align-items: center;

            .footer-row {
                width: 60%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                .footer-links {
                    width: 90px;
                    display: block;
                    padding: 5px;

                    h6{
                        font-size: 11px;
                    }

                    li {
                        a {
                            font-size: 9px;
                        }
                    }
                }
            }
        }
    }
}