.agencia__size--responsive {
    @extend .flex-center;

    .agencia__size {
        @extend .grid-center;
        width: 800px;
        padding: 0 30px 0 30px;
        margin: 0;
        gap: 40px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "main__agencia1 main__agencia2"
        ;

        .main__agencia1 {
            grid-area: main__agencia1;

            a {
                font-size: 23px;
                text-decoration: none;
                color: $negro;
                display: block;
                transition: all 0.3s ease;
                
                animation-name: latidos_2;
                animation-duration: 2s;
                animation-iteration-count: infinite;



                &:hover {
                    color: $azul_header;
                }
            }

            p {
                text-align: center;
            }
        }

        .main__agencia2 {
            grid-area: main__agencia2;

            a {
                font-size: 23px;
                text-decoration: none;
                color: $negro;
                display: block;

                transition: all 0.1s ease;

                animation-name: latidos_2;
                animation-duration: 2s;
                animation-iteration-count: infinite;

                &:hover {
                    color: $azul_header;
                }
            }

            p {
                text-align: center;
            }

        }
    }
}

@media (max-width: 800px) {
    .agencia__size--responsive {
        .agencia__size {

            width: $ancho_agencias;
        }

    }

}

@media (max-width:640px) {

    .agencia__size--responsive {
        display: flex;
        flex-wrap: wrap;

        .agencia__size {
            width: $ancho_agencias/2;
            display: grid;
            margin: 0;
            gap: 2px;
            padding: 0 20px 0 20px;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas:
                "main__agencia1"
                "main__agencia2"
            ;

            .main__agencia1{
                a{
                    font-size: 14px;
                }
            }
            .main__agencia2{
                a{
                    font-size: 14px;
                }
            }
        }
    }
}