.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.grid-center {
    display: grid;
    justify-content: center;
    align-items: center;
}

.h4 {
    text-align: center;
    background-color: $verde_main;
    width: 100vw;
    padding: 2px;
    overflow: hidden;
}
